.*
*.iml
!.gitignore
!.github
!*.gitkeep
!*.gitlab-ci.yml
*.zip
/data/*

.venv/
venv

spark-warehouse
.pytest_cache
**/__pycache__

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/._./._./DS_Store

.ipynb_checkpoints
._.ipynb_checkpoints
**/.ipynb_checkpoints
**/._.ipynb_checkpoints
**/._./._./ipynb_checkpoints


.coverage

# result data of unittest
*__datatest_rs


# Config Private
**/.private.yaml

**/data/**
**/logs/**
**.png
**.jpg
**/monitor.log**
**/checkpoint/**
build-log.txt
**/dev.env
**/prod.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other
**/scripts/**.xml
**/scripts/hive.properties
**/notebook/**
**/docker/trino/catalogs/**
!docker/trino/catalogs/delta.properties.template
!docker/trino/catalogs/hive.properties.template
**/docker/trino/conf/**
!docker/trino/conf/*.xml.template
